.pform {
  color: var(--color-grey);
}

.line-separator {
  border-bottom: 1px solid var(--color-primary);
}

@media only screen and (min-width: 60em) {

  .max-length-no-center {
    margin-right: 10rem;
  }

}
