footer {
  background-color: var(--color-secondary);
  color: #fff;
}

h5,
.copyright {
  color: #fff;
}

.copyright {
  text-align: right;
}

.icon {
  text-align: right;
}

.iconbtn {
  color: var(--color-secondary);
}
