.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-primary);
}

.error-message {
  display: none;
  background-color: #fee;
  color: var(--color-primary);
}

.error-message-highlighted {
  background-color: var(--color-primary);
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

.icon,
.icon-label-banner {
  color: #fff;
}

.i-red {
  color: var(--color-primary);
}
