.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.login {
  font-family: var(--font-secondary);
  border: var(--color-primary);
}

.subscribe {
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
  border: var(--color-secondary);
}

.subscribe:hover {
  color: var(--color-secondary);
}
