:root {
  --color-primary: #4abdac;
  --color-secondary: #fc4a1a;
  --color-grey: #95989a;

  --font-primary: "Hind Vadodara", sans-serif;
  --font-secondary: "Paytone One", sans-serif;
}

html {
  font-family: var(--font-primary);
}
