.pform {
  color: var(--color-grey);
}

@media only screen and (min-width: 60em) {

  .max-length-no-center {
    padding-right: 9rem;
  }

}

@media only screen and (min-width: 90em) {

  .max-length-no-center {
    padding-right: 15rem;
  }

}
